<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{'/user/home?id='+${currentUserId}}">Home</a>
            <a class="navbar-brand" href="#" th:href="@{'/user/viewProfile?id=' + ${user.id}}">Profile</a>
            <a class="navbar-brand" href="#" th:href="@{/recipe/viewCookBook}">Cookbook</a>
            <a class="navbar-brand" href="#" th:href="@{/events/eventPlans}">Events</a>
            <a class="navbar-brand" href="#" th:href="@{/shopping/shoppingList}">Shopping List</a>
            <a class="navbar-brand" href="#" th:href="@{/user/logout}">Logout</a>
        </div>
    </div>
</nav>

<br>
<br>
<div class = "container">
    <div class = "row">
        <div class = "col-md-6 col-md-offset-3">

            <h1> Welcome <span th:text="${user.firstName}"> </h1>
			
			  
                    <!-- alertInfo message -->
					<div th:if="${alertInfo}">
						<div class="alert alert-info"><span th:text="${message}"></span></div>
					</div>
					
			
			<div class="form-group">
					<span><a th:href="@{'/user/viewProfile?id=' + ${user.id}}">View Profile</a></span>
			</div>
				
			
			<div class="form-group">
					<span><a th:href="@{/recipe/viewCookBook}">Cook Book</a></span>
			</div>
				
			
				
        </div>
    </div>
</div>
</body>
</html>